
HTML,
BODY {
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
    background-color: rgb(65, 123, 134);
}

h1 {
	margin: 10px;
	font-size: 25px;
}

#config {
	border: 1px solid #000000;
	padding: 5px;
	margin: 5px;
}

#config LABEL {
	margin-right: 10px;
}

#config INPUT[type="text"] {
	width: 400px;
	font-family: Helvetica;
	font-size: 16px;
}

#config SPAN {
	margin-left: 10px;
}

#tools {
	border: 2px solid #000000;
	border-bottom-width: 8px;
	padding: 5px;
	margin: 0px;
}

#tools > DIV {
	display: block;
}

#tools > DIV > H2 {
	margin: 0px;
	font-size: 20px;
}

.hidden {
	display: none !important;
}

#inner-frame {
	border: 8px solid #094913;
	padding: 0px;
	margin: 0px;
}

#inner-frame > DIV {
	width: 100%;
	height: 400px;
}

#inner-frame > DIV.short {
	height: 100px;
}

#inner-frame > DIV > IFRAME {
	border: 0px;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}

#inner-frame.simulate-hidden {
	border: 8px dashed #A5A5A5;
}
